<div class="col-md-6 offset-md-3">
    <form action="/result" method="GET">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Enter your data</h3>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="cm">Height</label>
                            <input type="number" class="form-control" name="cm" id="input_cm" placeholder="cm" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="kg">Weight</label>
                            <input type="number" class="form-control" name="kg" id="input_kg" placeholder="kg" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                
                <button type="submit" class="btn btn-success">Calculate <i class="fas fa-calculator"></i></button>
            </div>
        </div>
    </form>
</div>