<!doctype html>
<html lang="en">
<% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <br />
    <div class="container">
      <div class="row">
        <% include ../partials/input_form %>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>